[submodule "things"]
	path = things
	url = https://github.com/BoxyPlayz/things.git
[submodule "GeometryDash"]
	path = GeometryDash
	url = https://github.com/BoxyPlayz/GeometryDash
[submodule "Cats"]
	path = Cats
	url = https://github.com/BoxyPlayz/Cats
[submodule "Desktop-Games"]
	path = Desktop-Games
	url = https://github.com/BoxyPlayz/Desktop-Games.git
[submodule "home"]
	path = home
	url = https://github.com/BoxyPlayz/home.git
